.lots .header {
    border-bottom: solid 1px #ededed;
}
.lots .content-container {
    padding: 14px;
}
.lots .content-container .content {
    padding: 16px;
    border-radius: 10px;
    background-color: #f3f5f8;
    height: 100%;
    margin: 0 8px;
}
.lots .content-container .spacing-wrapper {
    padding: 14px;
}
.lots .content-container img {
    display: block;
    width: 100%;
}
.lots .content-container .img-container {
    width: 100%;
    background-color: white;
    min-height: 133px;
}

.lots h2 {
    width: 100%;
    padding: 14px 0 8px;
    margin: 0;
    font-family: Rubik;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #475f7b;
}
.content h3 {
    padding: 10px;
    font-family: Rubik;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #95a0ab;
}
.content .dimension h3 {
    padding: 8px 0 20px;
}
.content .description h3 {
    padding: 6px 10px;
}
.lots .content-container p {
    margin: 0;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #727e8c;
}
.lots .submit-container {
    padding: 18px 0 0;
}
.lots .submit {
    width: auto;
    /* height: 33px; */
    border-radius: 4px;
    border: solid 0.8px #475f7b;
    background-color: rgba(71, 95, 123, 0.03);
    cursor: pointer;
    padding: 7px 22px 7px 11px;
}
.lots .delete-btn {
    border: solid 1px #b41420;
    padding: 7px 12px;
    margin-left: 8px;
    background-color: rgba(180, 20, 32, 0.05);
}
.lots .delete-btn .header-icon{
    margin: 0;
}

.lots .submit p {
    margin-left: 16px;
    font-family: Rubik;
    font-size: 14.4px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #475f7b;
}
.lots .add-card .content {
    background-color: initial;
    border: 1px dashed #475f7b;
    min-height: 400px;
}
.lots .add-card .add-text p {
    margin-bottom: 16px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #475f7b;
}
.lots .add-card .submit {
    max-width: 128px;
    margin: auto;
}
.agencies .row-container {
    min-height: 62px;
}
.agencies .name-container {
    width: calc(100% - 50px);
}
.agencies .actions-container {
    width: 50px;
}
.agencies .actions-container > div {
    width: 25px;
    text-align: center;
}
.agencies .actions-container > div:hover {
    /* background-color: rgba(0, 0, 0, 0.04) */
}
.agencies .active, .agencies .list:hover {
    background-color: #f3f5f8;
    border-radius: 5px;
}
.agencies .add-btn {
    margin: 1rem auto;
}
.agencies .list-container {
    overflow: scroll;
}
.agencies .zone-list-container {
    padding-right: 10px;

}
@media screen and (max-width: 400px) {
    div.content-container .content {
        padding: 16px 7px;
    }
    div.content-container .content h2 {
        margin-top: .5rem;
    }
}