
/* list */
.user-list-header {
    font-family: Rubik;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #bac0c7;
    text-transform: uppercase;
    border-top: solid 1px #ededed;
    border-bottom: solid 1px #ededed;
  }
  .user-list, .user-list-header {
    height: 62px;
  }
  .user-list:nth-child(even) {
    background-color: #f3f5f8;
  }
  .user-list img {
    display: block;
    width: 30px;
    margin-right: 10px;
  }