.radio-container label {
    display: block;
    position: relative;
    border-radius: 3px;
    border: solid 1px #c7cfd6;
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    color: #c7cfd6;
}
.radio-container label:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.radio-container label:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
.radio-container label .radio-checker-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.radio-container label.checked {
    background-color: #06ae88;
    border: solid 1px #06ae88;
    color: white;
}
.checker-container {
    display: none!important;
}
.no-left-right-padding {
    padding-left: 0!important;
    padding-right: 0!important;
}
form .form-element-row input {
    color: #708093;
}
form .label-container {
    padding-bottom: 5px;
}
form .phone-container.phone-parent input:focus,
form .phone-container.phone-parent input {
    border: none;
    box-shadow: none;
}
form .phone-container.phone-parent input {
    width: 100%;
}
form .phone-container.phone-parent .flag-dropdown::before, 
form .phone-container.phone-parent .flag-dropdown::after
{
    display: none;
}
form .phone-container {
    border: solid 1px #c7cfd6;
    border-radius: 3px;
}
form .phone-container.error{
    border: solid 1px #f44336;

}
.signup form .label-container {
    padding-left: 10px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c2c2c2;
}
form .form-container-spacing-right {
    padding-right: 10px!important;
}
form .form-container-spacing-left {
    padding-left: 10px!important;
}