.lots .header {
    border-bottom: solid 1px #ededed;
}
.lots .content-container {
    padding: 14px;
}
.lots .content-container .content {
    padding: 24px;
    border-radius: 10px;
    background-color: #f3f5f8;
}
.lots .content-container .spacing-wrapper {
    padding: 14px;
}
.lots .content-container img {
    width: 100%;
}

.lots h2 {
    width: 100%;
    padding: 14px 0 8px;
    margin: 0;
    font-family: Rubik;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #475f7b;
}
.content h3 {
    padding: 10px;
    font-family: Rubik;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #95a0ab;
}
.content .dimension h3 {
    padding: 8px 0 20px;
}
.content .description h3 {
    padding: 6px 10px;
}
.lots .content-container p {
    margin: 0;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #727e8c;
}
.lots .submit-container {
    padding: 18px 0 0;
}
.lots .submit {
    width: 111px;
    height: 33px;
    border-radius: 4px;
    border: solid 0.8px #475f7b;
    background-color: rgba(71, 95, 123, 0.03);
    cursor: pointer;
}
.lots .submit p {
    font-family: Rubik;
    font-size: 14.4px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #475f7b;
}