#login .form-container-parent {
  min-height: 100vh;
  margin: auto;
  max-width: 414px;
}
#login .form-container {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 34px 0 rgba(203, 203, 203, 0.5);
  background-color: #ffffff;
}
#login img {
  margin: auto;
}
#login h2 {
  display: block;
  margin-top: 12px;
  margin-bottom: 30px;
  font-family: Rubik;
  font-size: 16.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c6ccd2;
}
#login .input-container {
  margin-top: 8px;
}
#login input {
  display: block;
  padding-left: 14px;
  box-sizing: border-box;
  width: 75%;
  margin: auto;
  height: 38px;
  border-radius: 6px;
  border: solid 1px #c7cfd6;
  background-color: #f2f2f4;
  font-family: Rubik;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8e97a1;
}
#login p {
  margin-top: 30px;
}
#login a {
  display: inline-block;
  color: #0fc1a9;
}