footer {
  height: 122px;
  padding: 25px 27px 27px;
  box-sizing: border-box;
  background-color: rgba(229, 230, 235, 0.68);
  border-top: solid 0.5px #c7cfd6;
}
footer .agent-logo {
  margin-right: 30px;
}
footer .agent-logo img {
  display: block;
  width: 70px;
  border-radius: 50%;
  margin-right: 26px;
}
footer .agent-logo p {
  margin: 0;
}
footer p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
  color: #a9b3ba;
}
footer h3 {
  font-family: Rubik;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f2e41;
}
footer .icon-list-container {
  padding: 0 24px;
}
footer .icon-list-container.bordered {
  border-left: solid 1px #c7cfd6;
  border-right: solid 1px #c7cfd6;
}
footer .icon-list-container img {
  max-width: 32px;
}
footer .icon-list-container p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
  color: #a9b3ba;
  margin: 10px 0 0 0;
}